///*----------------------------------*\
//  #UTILITIES
//\*----------------------------------*/
//
//  A collection of utilities that allow for quickly applying small styling tweaks to components.
//  NOTE: Use Sparingly.
//
//\*----------------------------------*/
//
// Usage:
// <div class="u-mt-10"></div>

///*----------------------------------*\
//  #UTILITIES
//\*----------------------------------*/
//
//  A collection of utilities that allow for quickly applying small styling tweaks to components.
//  NOTE: Use Sparingly.
//
//\*----------------------------------*/
//
// Usage:
// <div class="u-mt-10"></div>

$property-map: (
    margin-top: "mt",
    margin-right: "mr",
    margin-bottom: "mb",
    margin-left: "ml",
    padding-top: "pt",
    padding-right: "pr",
    padding-bottom: "pb",
    padding-left: "pl"
);

$prop-config: deep-map-merge(
    (
        margin-top: (
            0,
            40
        ),
        margin-bottom: (
            0,
            10,
            20,
            30
        ),
        margin-right: (
            40,
            auto
        ),
        margin-left: (
            40,
            auto
        ),
        padding-top: (
            0,
            10,
            20,
            30,
            60
        ),
        padding-bottom: (
            0,
            10,
            20,
            30,
            60
        )
    ),
    $prop-config,
    true
);

@each $property, $values in $prop-config {
    $shorthand: map-get($property-map, $property);

    @each $num in $values {
        .u-#{$shorthand}-#{$num} {
            @if is-number($num) {
                #{$property}: #{$num}px;
            } @else {
                #{$property}: #{$num};
            }
        }
    }
}

// stylelint-disable-next-line
.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}


// see: settings/colours
@each $class, $text-colour in $colours {
    .u-color-#{$class} {
        color: #{$text-colour};
    }
}

// Backgrounds
@each $class, $bg-color in $colours {
    [data-bg-color="#{$class}"] {
        background-color: #{$bg-color};
    }
}

// Usage:
// <div class="u-text-strong"></div>
/* stylelint-disable */
.u-text {

    &-bold { font-weight: 600; }
    &-reg { font-weight: 400; }
    &-light { font-weight: 300; }

    &-upper { text-transform: uppercase; }
    &-lower { text-transform: lowercase; }
    &-reset {
        text-decoration: none;
        text-transform: none;
    }

    &-left { text-align:left; }
    &-right { text-align: right; }
    &-center { text-align: center; }

    &-baseline {
        display: block;
        line-height: 1;
    }

    &-style-underline {
        padding-bottom: 5px;
        border-bottom: 2px solid #ea7878;
    }

}
/* stylelint-enable */

// stylelint-disable-next-line
.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


// stylelint-disable-next-line
.u-global-spacing {

    margin-top: $global-spacing * 2;

    @include mq($mq-mob--lrg, max) {
        margin-top: $global-spacing;
    }
    
}