@charset "UTF-8";

/*
  Contents
  --------
	0 	$SETTINGS
	1 	$TOOLS
	2 	$ELEMENTS
	3 	$OBJECTS
	4 	$UTILITIES
*/

//============================
//*	$SETTINGS
//	Preprocessor variables and methods
//
@import "settings/global";
@import "settings/typography";
@import "settings/spacing";
@import "settings/colours";
@import "settings/mq";
@import "settings/zindex";
@import "settings/animation";

//============================
//*	$TOOLS
//	Mixins and functions
//
@import "tools/functions";
@import "tools/font_size";
@import "tools/zindex";
@import "tools/mq";
@import "tools/position";
@import "tools/ratio";
@import "tools/object-fit";


//============================
//*	$ELEMENTS
//	Single HTML element selectors without classes
//
@import "elements/page";
@import "elements/type";
@import "elements/images";

//============================
//*	$VENDOR
//	Third-party Library-specific CSS e.g. Flickity
//
@import "vendor/all";

//============================
//	$OBJECTS
//  Classes for page structure typically following the OOCSS methodology
//  The first layer in which we find class-level specificity
//
@import "objects/flex";
@import "objects/container";
@import "objects/row";
@import "objects/grid";
@import "objects/media";
@import "objects/flex-media";
@import "objects/img";
@import "objects/main";

//============================
//	$TYPOGRAPHY
//  Classes for the display and control of your typography.
//  These elements sit loosely between objects and components and in turn can be overridden on a piece of UI
//
@import "typography/heading";
@import "typography/copy";


//============================
//  $UTILITIES
//	utilities classes in accordance with DRY mentality. Eliminates the need to create specific classes to perform simple tasks
//  NOTE: Use sparingly
//
@import "utilities/util";



//Colour Palette
//$primary-color: #381696;
$primary-color: #333;
$secondary-color: #ea7878;
$tertiary-color: #fff;


section {
  margin-top: $global-spacing-m;
  margin-bottom: $global-spacing-m;
}

h2, h3, h4, h5 {
  font-family: $font-tertiary;
  text-align: center;
}


/* html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: #fff;
  border-top: 10px solid $primary-color;
} 
a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    //text-decoration: underline;
  }
}

.hero-header {
  padding: 0 0 64px;
  max-width: 980px;
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
*/
.button {
  padding: 18px 27px;
  display: inline-block;
  background:#fff;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  text-decoration: none;
  color:#868892;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $tertiary-color;
    &:hover {
      background-color: #10072b;
      color: #fff;
      text-decoration: none;
    }
  }
  &:hover {
    background-color: #d3d6e7;
    color: #00062b;
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background:white;
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}


.post-meta {
  padding-top: $global-spacing-s;
  @include font-size($size-centi);
  color: $secondary-color;
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: #666;
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}
